@using Grammophone.Ennoun.Web.Models.Inference
@model TextRequestModel
@{
	ViewBag.Title = "Infer";

	bool isBrowserExtension = Request.QueryString["browserextension"] != null;
}

<h2>Inference</h2>
<div id="progressIndicator" class="progress progress-message-centered">
	<div id="progressBar" class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" 
			 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
			 style="width: 0%">
		<span class="text-success text-bold">0%</span>
	</div>
</div>

<div id="textContainer" class="hidden">@Model.Text</div>

<div id="resultsContainer" style="display: none;">
	@if (!isBrowserExtension)
	{
		<p>Click on a word below to show information about it or <a href="@Url.Action("Index")">analyze another piece of text</a>.</p>
	}
	else
	{
		<p>Click on a word below to show information about it.</p>
	}
	<div class="row">

		<div id="inferredTextContainer" class="col-md-4">

		</div>
		<div id="analysisContainer" class="col-md-8">

		</div>
	</div>
</div>

<div id="errorPromptContainer" class="text-danger" style="display: none">
	<p>Unfortunately, we could not process your text. <a href="@Url.Action("Index")">Try again</a>.</p>
</div>

@section scripts {
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/react")
	<script src="~/Scripts/Common/CommonView.js"></script>
	<script src="~/Scripts/Inference/InferView.jsx"></script>
}