<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Ἔννουν</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<script type="text/javascript">
		var appInsights = window.appInsights || function (config) {
			function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
		}({
			instrumentationKey: "8c19cbed-3427-420a-a9db-b0e915a035a8"
		});

		window.appInsights = appInsights;
		appInsights.trackPageView();
	</script>
</head>
<body class="cover-background" style="background-image: url(/images/backgrounds/blurred/monkeeboy/2.jpg);">
	<div class="navbar navbar-inverse navbar-fixed-top box-shadowed no-padding background-dark container">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Ἔννουν", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Infer", "Index", "Inference")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
				</ul>
				@*<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>*@
				<p class="nav navbar-text navbar-right">
					<button id="engineIndicator"
									class="btn-link btn-xs no-padding no-border" 
									style="display: none;"
									type="button" aria-label="Inference engine loading"
									role="button"
									data-toggle="popover"
									data-placement="bottom"
									data-trigger="focus"
									title="Inference engine loading"
									data-content="Inference will be available in a few minutes, once this sign changes to OK.">
						<span class="glyphicon glyphicon-hourglass text-danger" aria-hidden="true"></span>
					</button>
				</p>

				@*@Html.Partial("_LoginPartial")*@
			</div>
		</div>
	</div>
	<div class="container body-content box-shadowed background-light">
		<div class="padding-top" style="min-height: 500px;">
			<div id="messageTemplatesContainer"></div>
			@RenderBody()
		</div>
		<hr />
		<footer>
			<p>Ἔννουν</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
	<script src="/signalr/hubs"></script>
	<script src="~/Scripts/Common/LayoutView.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
